/* футер */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 80px;
}

.site-footer {
  background: rgba(247, 119, 40, 1);
  padding-top: 15px;
}

body {
  background: rgb(230, 225, 219) !important;
  font-family: 'PT Sans', sans-serif !important;
}

.howto {
  list-style-type: none;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

header {
  padding-bottom: 20px;
}

.left-side {
  > .promo {
    > h2 {
      font-size: 100%;
    }
  }
}

.btn-tattoo {
  background-color: hsl(30, 89%, 45%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec7c0d", endColorstr="#d8720c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ec7c0d), to(#d8720c));
  background-image: linear-gradient(#ec7c0d, #d8720c);
  border-color: #d8720c #d8720c hsl(30, 89%, 44%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}

.btn-custom {
  background: rgba(255, 123, 0, 1);
  border-color: rgba(250, 96, 20, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  border-radius: 4px;
  border-width: 1px;
  &:hover {
    background: rgba(194, 51, 15, 1);
    border-color: rgba(214, 26, 26, 1);
    color: rgba(255, 255, 255, 1);
  }
  &:active {
    background: rgba(235, 235, 235, 1);
    border-color: rgba(173, 173, 173, 1);
    color: rgba(255, 255, 255, 1);
  }
  &:focus {
    background: rgba(235, 235, 235, 1);
    border-color: rgba(173, 173, 173, 1);
    color: rgba(255, 255, 255, 1);
  }
}

/* navbar */
#main-menu.navbar-default {
  font-size: 14px;
  background-color: rgba(247, 119, 40, 1);
  border-bottom-width: 0px;
  .navbar-brand {
    color: rgba(245, 245, 245, 1);
  }
  .navbar-toggle {
    border-color: rgba(245, 245, 245, 1);
    .icon-bar {
      background-color: rgba(245, 245, 245, 1);
    }
    &:hover {
      background-color: #f56105;
      .icon-bar {
        background-color: rgba(245, 245, 245, 1);
      }
    }
    &:focus {
      background-color: #f56105;
      .icon-bar {
        background-color: rgba(245, 245, 245, 1);
      }
    }
  }
  .navbar-nav {
    > li {
      > a {
        color: rgba(245, 245, 245, 1);
        background-color: rgba(247, 119, 40, 1);
        &:hover {
          color: rgba(245, 245, 245, 1);
          background-color: rgba(245, 97, 5, 1);
        }
        &:focus {
          color: rgba(245, 245, 245, 1);
          background-color: rgba(245, 97, 5, 1);
        }
      }
    }
    > .active {
      > a {
        color: rgba(245, 245, 245, 1);
        background-color: rgba(245, 97, 5, 1);
        &:hover {
          color: rgba(245, 245, 245, 1);
          background-color: rgba(245, 97, 5, 1);
        }
        &:focus {
          color: rgba(245, 245, 245, 1);
          background-color: rgba(245, 97, 5, 1);
        }
      }
    }
  }
}

.master-picture {
  padding: 10px 10px 10px 10px;
}

.master, .reply {
  margin-bottom: 20px;
}

.container {
  div {
    h1 {
      // заголовок страниц
      margin-bottom: 20px;
    }
  }
}

.social {
  text-align: center;
}

div.master {
  border-color: 3px red solid !important;
}

.phone {
  font-size: 2em;
}

.address {
  font-size: 1.2em;
}

.form-placeholder {
  background: rgb(182, 188, 181);
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.form-placeholder > form > fieldset > legend {
  color: #ffffff;
  text-decoration: none;
}

.form-placeholder > p {
  color: #ffffff;
}

.work-title {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-family: 'PT Sans Caption', sans-serif;
}

article {
  margin-top: 20px;
  font-size: 1.5em;
}

.date {
  font-size: 0.9em;
  color: #708090;
  font-style: italic;
}

.detail {
  margin-bottom: 20px;
}

/* списки с действиями на главной странице */
ul.index-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 1.2em;
  li {
    padding-bottom: 20px;
    line-height: 1.7em;
  }
}

/* список постулатов */
ul.postulats {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 1.7em;
  font-weight: bold;
}

/* четыре пункта */
.points {
  margin-bottom: 30px;
  font-size: 1.2em;
}

/* подложка для нижней формы */
.bottom-form-placeholder {
  background: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
  form {
    h3 {
      color: #ffffff;
    }
  }
}

/* отправка отзыва */
.reply-form-placeholder {
  background: rgba(0, 0, 0, 0.3);
  //margin-top: 20px;
  margin-bottom: 20px;

  form {
    margin-top: 20px;
    padding: 0px 20px 20px 20px;
    h3 {
      color: #ffffff;
    }
  }
}
.reply-text{
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  .reply-text-placeholder{
    padding-top: 20px;
  }
  h3{
    font-size: 3em;
  }
}
#contact-form-picture{
  margin-bottom: 20px;
}
.master-description{
  margin-bottom: 50px;
  p{
    font-size: 1.5em;
  }
}