@media only screen and (max-width: 992px) {
  .style-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .laptop_center {
    position: relative;
    width: 100%;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .laptop_center_to_left {
    position: relative;
    right: 50%;
    float: right;
  }
  .laptop_center_to_right {
    position: relative;
    z-index: 1;
    right: -50%;
  }
}