@media only screen and (max-width: 768px) {
  .moble_center {
    position: relative;
    width: 100%;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .promo {
    text-align: center;
  }
  .mobile_center_to_left {
    position: relative;
    right: 50%;
    float: right;
  }
  .mobile_center_to_right {
    position: relative;
    z-index: 1;
    right: -50%;
  }
  address {
    text-align: center;
  }
  .style-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .outer{
    width:100%;
  }
  .inner {
    width: 60%;
    margin: 0 auto;
  }
  #master-description{
    text-align: center;
  }
  .container{
    div{
      div{
        h4{
          //Заголовки прайсов
          text-align: center;
        }
      }
      h1{
        // заголовок страниц
        text-align: center;
      }
    }

  }
  .social{
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  /* убираем фон для формы */
  .bottom-form-placeholder{
    background: none !important;
  }
  .site-footer {
    padding-top: 5px !important;
  }
}
